h3{
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 48px; 
    line-height: 62px;
    color: #444444;
}


@media(max-width: 768px){
    h3{
        font-size: 32px;
        line-height: 42px;
    }
}
