.container-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 120px;
}

@media(max-width: 768px){
    .container-sections{
        margin-top: 40px;
        padding: 0px 24px;
        height: 1073px;
    }
}