.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 120px;
}

.container-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 48px;
}

.container-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 540px;
    height: 340px;
}

.ticket-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    width: 256px;
    height: 56px;
    background: #2E7BA2;
    box-shadow: 4px 4px 0px #444444;
    text-decoration: none;
    border-radius: 16px;
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
}

.ticket-btn:hover{
    background: #519EC5;
    box-shadow: 4px 4px 0px #000000;
}

.container-content p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
}

.container-content h6{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
}

.container-lineUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 120px;
    gap: 32px;
}

.container-lineUp h1{
    text-align: center;
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #444444;
}



@media(min-width: 330px) and (max-width: 768px) {

    .container-banner{
        padding: 0px;
        height: 270px;
    }

    .container-banner h1{
        padding: 27px 200px;
        font-size: 32px;
        line-height: 42px;
    }

    .container-about{
        flex-direction: column;
        justify-content: center;
        padding: 32px 24px;
    }

    .container-content{
        flex-direction: column;
        gap: 32px;
        width: 312px;
        height: 911px;
    }

    .container-content div{
        width: 312px;
        height: 498px;
    }

    .container-lineUp h1{
        font-size: 48px;
        line-height: 62px;
    }

}

@media(min-width: 768px) and (max-width: 1440px){
    .container-about{
        padding: 32px 60px;
    }

    .container-content{
        flex-direction: column;
        gap: 32px;
        width: 648px;
        height: 753px;
    }

    .container-content h6{
        width: 392px;
        height: 76px;
    }

}