.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 120px;
    gap: 48px;
    height: 586px;
}

.container-ticket h6{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
}

.container-ticket{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    height: 458px
}

.container-ticket-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    width: 792px;
    height: 350px;
    background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.container-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 728px;
    height: 32px;
}

.ticket{
    display: flex;
    height: 222px;
}

.infos{    
    display: flex;
    align-items: center;
    padding-left: 25px;
    flex-direction: column;
}

.infos h6{
    margin-right: 20px;
    line-height: 38px;
}

.infos ul{
    margin-top: 30px;
    flex-direction: column;
    height: 10px;
}

.infos ul li{
    line-height: 5px;
}

@media(min-width: 280px) and (max-width: 768px){
    .container{
        justify-content: center;
        padding: 64px 24px;
        height: 914px;
    }

    .container-ticket{
        width: 312px;
        height: 786px;
    }

    .container-ticket-content{
        align-items: center;
        width: 312px;
        height: 564px;
    }

    .container-logo {
        width: 248px;
    }

    .ticket{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: 584px;
        height: 556px;
    }

    .infos{
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 248px;
        height: 214px;
    }

    .infos h6{
        font-size: 32px;
        line-height: 38px;
    }
    
    .infos ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        margin-top: 0px;
        width: 187px;
        height: 160px;
    }
    
    .infos ul li{
        font-size: 20px;
        line-height: 26px;
    }
}

@media(min-width: 768px) and (max-width: 1440px){
    .container{
        justify-content: center;
        gap: 32px;
        height: 958px;
    }

    .container-ticket{
        width: 768px;
        height: 958px;
    }

    .container-ticket-content{
        align-items: flex-start;
        width: 648px;
        height: 684px;
    }

    .container-logo {
        width: 584px;
    }

    .ticket{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: 584px;
        height: 556px;
    }

    .infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 370px;
        height: 214px;
    }

    .infos h6{
        font-size: 32px;
        line-height: 38px;
    }
    
    .infos ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        margin-top: 0px;
        width: 187px;
        height: 160px;
    }
    
    .infos ul li{
        font-size: 20px;
        line-height: 26px;
    }
}