.container-date{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 102px;
}

.container-date input{
    width: 385.5px;
    height: 60px;
}

@media(max-width: 768px){
    .container-date{
        justify-content: center;
        align-items: flex-start;
        width: 312px;
        height: 140px;
    }

    .container-date input{
        width: 312px;
        height: 56px;
    }
}

@media (min-width: 768px) and (max-width: 1440px){
    .container-date{
        margin-top: 10px;
        width: 648px;
        height: 102px;
    }
}