.container-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
}

.container-text h6{
    display: flex;
    font-weight: 700;
    font-size: 32px;
    font-weight: 700;
}

.container-text p{
    width: 630px;
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.sustentability-img{
    order: 1;
}

#container-sustentability{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    order: 0;
}

#container-sustentability p{
    text-align: right;
}

@media(max-width: 355px){
    .container-section-content{
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .container-section-content img{
        width: 100%;
    }

    .container-text p{
        width: 100%;
        text-align: center;
    }

    .sustentability-img{
        margin-top: 60px;
        order: 0;
    }

    #container-sustentability{
        align-items: center;
        justify-content: center;
        order: 1;
    }
    
    #container-sustentability p{
        text-align: center;
    }
}

@media(min-width: 355px) and (max-width: 768px){
    .container-section-content{
        text-align: center;
        flex-direction: column;
    }

    .container-text p{
        width: 312px;
        text-align: center;
    }

    .sustentability-img{
        margin-top: 60px;
        order: 0;
    }

    #container-sustentability{
        align-items: center;
        justify-content: center;
        order: 1;
    }
    
    #container-sustentability p{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1440px){
    .container-section-content{
        justify-content: space-between;
        flex-direction: column;
        gap: 32px;
    }
    
    .container-text{
        text-align: center;
    }

    .container-text h6{
        justify-content: center;
    }

    .container-text p{
        text-align: center;
    }

    .sustentability-img{
        order: 0;
    }

    #container-sustentability{
        align-items: center;
        justify-content: center;
        order: 1;
    }

    #container-sustentability p{
        text-align: center;
    }

}