header{
    display: flex;
    background-color: #2E7BA2;
    height: 128px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 120px;
}

nav{
    display: flex;
    padding: 0px;
    margin-top: -17px;
    gap: 32px;
    height: 40px;
}

.open-menu{
    display: none;
}

.close-menu{
    display: none;
}

ul{
    display: flex;
    gap: 32px;
}

ul .links{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

li a{
    position: relative;
}

.li-links a::after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fff;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

li a:hover::after{
    width: 100%;
}

@media(min-width: 280px) and (max-width: 768px){
    header{
        padding: 32px 24px
    }

    .logo-link{
        z-index: 100;
    }
    
    .closed-menu{
        display: flex;
        flex-direction: column;
        z-index: 1000;
        position: fixed ; 
        width: 100%;
        top: 0;
        left: 100%;
        transition: 850ms;
    }

    .show-menu{
        position: absolute;
        left: 0%;
        transition: 400ms;
    }

    .open-menu{
        display: flex;
        cursor: pointer;
    }
  
    .menu-itens{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        height: 600px;     
        background-color: #2E7BA2;
    }

    .close-menu{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 20px;
        cursor: pointer;
    }

    .li-links{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-itens li{
        display: flex;
        margin-top: 50px;
    }

    li a::after{
        margin-top: 15px;
    }

}

@media(min-width: 768px) and (max-width: 1440px){
    header{
        flex-direction: column;
        padding: 32px 60px;
        gap: 32px;
        height: 200px;
    }
}