.container-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 120px;
    gap: 48px;
}

h3{
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444444;
}

.container-questions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container-questions summary{
    padding: 16px;
    width: 996px;
    background: #2E7BA2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.container-questions p{
    padding: 16px;
    width: 996px;
    height: 112px;
    background: #C8DEEF;
}

@media(min-width: 330px) and (max-width: 768px){
    .container-infos{
        padding: 48px 24px;
    }

    h3{
        font-size: 32px;
        line-height: 42px;
    }

    .container-questions summary{
        width: 350px;
        height: 130px;
    }

    .container-questions p{
        font-size: 20px;
        width: 350px;
        height: 240px;
    }
}

@media(min-width: 768px) and (max-width: 1440px){
    .container-infos{
        padding: 48px 60px;
    }

    .container-questions summary{
        width: 648px;
        height: 70px;
    }

    .container-questions p{
        width: 648px;
        height: 150px;
    }
}
