.container-map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 120px;
    gap: 32px;
}

.container-setores-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48px;
}

.container-subtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;
}

.container-subtitle h6{
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    font-style: normal;
    font-weight: 700;
}

.container-subtitle ul{
    flex-direction: column;
}

.container-subtitle ul li img{
    margin: 5px;
    margin-right: 10px;
}

.container-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    gap: 70px;
    height: 100vh;
}

.container-details h5{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container-details-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

@media(max-width: 768px){
    .container-setores-content{
        flex-direction: column;
        justify-content: center;
    }

    .container-subtitle{
        justify-content: center;
        align-items: flex-start;
        margin-top: 0px;
        height: 360px;
    }

    .container-subtitle h6{
        text-align: left;
        font-size: 1.7rem;
    }

    .container-subtitle ul{
        align-items: flex-start;
        flex-direction: column;
        background: none;
        height: 360px;
    }

    .container-subtitle li{
        display: flex;
        height: 32px;
        margin: 5px;
        margin-right: 10px;
    }

    .container-details{
        padding: 32px 24px;
        gap: 32px;
    }

    .details{
        flex-direction: column;
    }

}

@media(min-width: 768px) and (max-width: 1440px){
    .container-setores-content{
        flex-direction: column;
        justify-content: center;
        padding: 32px 60px;
        gap: 32px;
        width: 768px;
        height: 1079px;
    }

    .container-subtitle h6{
        text-align: center;
    }

    .container-details{
        padding: 32px 60px;
        height: 100%;
    }

    .div-extra{
        margin: 0px;
    }

}