form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.container-smallers-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 795px;
    height: 106px;
}

.container-ticket-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 120px;
    gap: 48px;
}

@media(max-width: 768px){
    .container-ticket-form{
        padding: 48px 60px;
    }

    .container-smallers-inputs{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 312px;
        height: 250px;
    }
}

@media(min-width: 768px) and (max-width: 1440px){
    .container-ticket-form{
        padding: 48px 60px;
    }

    .container-form-btn{
        margin-top: 150px;
    }

    .container-smallers-inputs{
        flex-direction: column;
    }
}


