hr{
    width: 359.5px;
    height: 0px;
    border: 1px solid #DF9010;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    width: 417px;
    height: 94px;
    background: #DF9010;
}

.data h3{
    font-size: 43px;
    line-height: 62px;
    color: #FFFFFF;
}

.container-musics h2{
    margin-left: 15px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #444;
}

.container-musics li{
    margin: 10px;
}

.ul-row1,
.ul-row2,
.ul-row3{
    display: flex;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #444444;
}

.ul-row2,
.ul-row3{
    font-size: 32px;
    line-height: 38px;
}

.ul-row3{
    font-weight: 500;
}

@media(max-width: 768px){
    hr{
        display: none;
    }

    .container-line-up{
        width: 100%;
    }

    .data{
        justify-content: center;
        width: 289px;
        height: 74px;
    }

    .data h3{
        font-size: 29px;
        line-height: 42px;
    }

    .container-musics{
        height: 900px;
    }

    .container-musics h2{
        font-size: 2.7em;
        width: 100%;
    }

    .container-musics ul{
        gap: 16px;
        flex-direction: column;
        background: none;
        width: 105%;
        height: 157px;
        padding-right: 18px;
    }
    
    .container-musics li{
        margin: 0px;
    }

    .ul-row1{
        font-size: 2em;
        line-height: 42px;
    }

    .ul-row2{
        font-size: 1.8em;
        margin: 70px;
    }

    .ul-row3{
        font-size: 1.6em;
    }

    .container-musics ul li{
        text-align: center;
    }
} 

@media(min-width: 768px) and (max-width: 1440px){
    hr{
        width: 83.5px;
    }

    .container-line-up{
        padding: 48px 60px;
    }

    .container-musics{
        width: 650px;
    }

    .container-musics ul {  
        justify-content: center;
        flex-wrap: wrap;
    }

    .ul-row1{
        font-size: 39px;
        line-height: 47px;
    }
    
}