.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    width: 256px;
    height: 56px;
    background: #2E7BA2;
    box-shadow: 4px 4px 0px #444444;
    text-decoration: none;
    border-radius: 16px;
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
}

.btn:hover{
    color: #fff;
    background: #519EC5;
    box-shadow: 4px 4px 0px #000000;
}