*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
}

h1{
  font-family: 'Calistoga';
  font-weight: 400;
  color: #444;
}

h6,
h5,
p{
  font-family: 'Raleway';
  color: #444;
}

ul{
  list-style: none;
}
